<mat-list class="navigation">
  <mat-list-item>
    <a mat-list-item (click)="navigateTo('/shopping/wegrzce')"><mat-icon>keyboard_arrow_right</mat-icon>Węgrzce</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a mat-list-item (click)="navigateTo('/shopping/krakow')"><mat-icon>keyboard_arrow_right</mat-icon>Kraków</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-list-item (click)="navigateTo('/categories')"><mat-icon>keyboard_arrow_right</mat-icon>Kategorie</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
</mat-list>
