@if (authService.authState$ | async) {
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 (click)="navigateTo('/dashboard')">NEOVET</h1>
    <button mat-icon-button [style.visibility]="backButtonVisibility ? 'visible' : 'hidden'"(click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>
}
@else {
  <mat-toolbar color="primary" [style.justify-content]="'center'">
    <h1 (click)="navigateTo('/dashboard')">NEOVET</h1>
  </mat-toolbar>
}
